* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: "Montserrat", system-ui;
    color: #FFFFFF;
    background-color: #00100F;
}
section {    
    padding: calc(4.3vw + 64.3px) calc(9.1vw - 16.87px); /*120-80   100-16*/
}


/*-----Header-----*/
.header__top {    
    background-color: #004643;
    display: flex;
    justify-content: flex-end;
    align-items: center;    
    padding: 11px calc(9.1vw - 16.87px); /*100-16*/
}
.header__tel {
    display: flex;
    justify-content: space-between;
    width: 158px;    
    font-size: 14px;
    font-weight: 600;
    margin-right: 50px;
}
.header__icon {
    display: flex;
    justify-content: space-between;    
    gap: calc(1.1vw + 16.01px); /*30-20*/
}
.header__menu {
    background-color: #000908;
    display: flex;
    justify-content: flex-end;   
    align-items: center;
    padding: 19px calc(9.8vw - 25.22px); /*100-10*/
}
.header__logo img{
    width: 155px;    
}
.header__logo {
    margin-right: auto;
}
.header__navigation {    
    display: flex;
    gap: calc(11.8vw - 107.86px);   
    font-size: 14px;
    font-weight: 400;
}
.nav__link {
    color: #FFFFFF;
    text-decoration: none;
    opacity: 0.8;
    transition: opacity 0.2s linear;
}
.nav__link:hover {
    opacity: 1;
}


/*-----Burger-----*/
.header__burger-btn {    
    position: relative;
    left: 0px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;    
    z-index: 2;    
    display: none;
}
.header__burger-btn span {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #FFFFFF;    
    left: 5px;
    border-radius: 5px;
    transition: transform .5s, opacity .5s, background-color .5s;
}
.header__burger-btn span:nth-child(1) {
    transform: translateY(-10px);
}
.header__burger-btn span:nth-child(3) {
    transform: translateY(10px);
}
.header.open .header__burger-btn span {
    background-color: #FFFFFFCC;
}
.header.open .header__burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}
.header.open .header__burger-btn span:nth-child(2) {
    opacity: 0;
}
.header.open .header__burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}


/*-----mainScreen-----*/
.mainScreen {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;    
    background: linear-gradient(90deg, #00100F 38%, rgba(0, 16, 15, 0) 80%), url('../img/Img.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
}
h1 {    
    font-family: "Dela Gothic One", system-ui;    
    font-size: calc(2.6vw + 20.61px); /*54-30*/
    font-weight: 400;    
}
.mainScreen__header {   
    position: relative;
}
.greenEllipse {  
    width: 188px;
    height: 188px;    
    position: absolute;
    background: #28B0A9;
    filter: blur(80px);
    z-index: 0;
}
.mainScreen__info {
    display: flex;
    flex-direction: column;
    gap: 20px;    
    font-size: calc(0.4vw + 14.44px); /*20-16*/
    font-weight: 500;
    line-height: 140%;
    
    margin-top: calc(0.8vw + 17.26px); /*27-20*/
}
.info {
    border-left: 3px solid #28B0A9;
    padding-left: 12px;    
}
.mainScreen__btn {    
    margin-top: calc(1.2vw + 31.7px); /*47-36*/
    display: flex;
    flex-wrap: wrap;
    gap: 20px 30px;    
}
button {    
    border-radius: 12px;
    font-family: "Montserrat", system-ui;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.2s linear;    
}
button:hover {
    opacity: 1;
}
.mainScreen__btn button {
    padding: 15px 30px;
}
.btn__green {    
    background: linear-gradient(180deg, #32DDD4, #1A746F);    
    box-shadow: 0px 11.6px 23.2px 0px #0823228E;
    box-shadow: 0px 5.95px 5.95px 0px #36ECE3 inset;
    box-shadow: -0px -5.95px 5.95px 0px #176561 inset;
}
.btn__grey {    
    background: #FFFFFF33;
    box-shadow: 0px 20px 40px 0px #33333378;
    box-shadow: 0px 9.16px 9.16px 0px #FFFFFF33 inset;
    box-shadow: -0px -9.16px 9.16px 0px #33333378 inset;    
}
.mainScreen__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.mainScreen__card {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center; 
    gap: 6px;   
    width: 162px;
    height: 129px;    
    border-radius: 24px;
    background: #FFFFFF33;
    backdrop-filter: blur(30px);
}
.mainScreen__card .title {    
    font-size: 20px;
    font-weight: 700;
}
.mainScreen__card .value {
    font-size: 16px; 
}


/*-----actions-----*/
.actions {
    background-image: url(../img/actions_bg.png);
}
h2 {    
    font-family: Dela Gothic One;    
    font-size: calc(1.1vw + 26.09px); /*40-30*/
    font-weight: 400;
}
.actions__btn {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;    
    margin-top: calc(1vw + 16.49px); /*29-20*/
}
.actions__btn button {
    padding: 10px 12px;
}
.actions__img >div {    
    margin-top: calc(1.2vw + 25.7px); /*41-30*/    
}
.swiper img {
    width: 100%;
    height: 100%;
}
.swiper-pagination {
    
}



/*-----news-----*/
.newsCardBox {
    margin-top: 39px;

}
.newsCardBox__inner {
    display: flex;
    flex-direction: column;
    width: 247px;
    color: #FFFFFFCC;   
}
.newsCardBox__text {
    margin: 14px 0 11px;   
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
}
.newsCardBox__text2 { 
    font-size: 14px;
    font-weight: 400;
    line-height: 19.87px;
}


/*-----team-----*/
.team { 
    background-image: url(../img/team_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.teamCardBox {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;    
}
.teamCardBox2 {
    display: none;
}
.team__btn {
    margin-top: 29px;
    margin-bottom: 41px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;    
}
.team__btn button {
    padding: 10px;
}
.teamCard {       
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 247px;
    position: relative;
}
.timCard__info {    
    position: absolute;    
    left: 0;
    right: 0;
    padding: 20px;
    border-radius: 24px;
    background: rgba(117, 179, 175, 0.2);
    backdrop-filter: blur(30px);    
    width: 248px;
    height: 145px;    
}
.teamCard__text {    
    font-family: Dela Gothic One;
    font-size: 14px;
    font-weight: 400;
    color: #33B0AA;
    text-transform: uppercase;
    margin-top: 45px;
    margin-bottom: 6px;    
}
.teamCard__text2 { 
    font-size: 14px;
    font-weight: 600;
    line-height: 19.6px;
    color: #FFFFFFCC;    
}


/*-----gallery-----*/
.gallery {
    background-image: url(../img/gallery_bg.png)
}
.gallery__inner {
    margin-top: 39px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;    
    gap: calc(1.5vw + 10.52px); /*30-16*/
}
.gallery__inner img {    
    width: calc(21.2vw + 68.7px); /*340-145*/
    max-width: 340px;    
}
.gallery button {
    padding: 16px 30px;
    display: block;
    margin: 0 auto;
}


/*-----branch-----*/
.branchLogo {    
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    align-items: center;    
} 
.branchLogo2{
    height: 162px;
    display: none;
}
.branchLogo2 img {    
    justify-content: center;
    width: auto;
    
}


/*-----aboutUs-----*/
.aboutUs {
    background-image: url(../img/aboutUs_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.aboutUs__inner {   
    margin-top: 39px;
    border-radius: 24px;
    padding: 40px;
    background: #FFFFFF33;
    backdrop-filter: blur(30px);
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px; 
    opacity: 80%;
}
.aboutUs__inner p{
    margin-bottom: 10px;
}


/*-----contacts-----*/
.contacts__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    align-items:center
    
    /* width: 100%;     */
}
.contactsInfo span{    
    font-size: 16px;
    font-weight: 500;    
    color: #FFFFFFCC; 
}
.contactsInfo p {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin: 10px 0 20px 0;
}
.contactsInfo h2 {
    margin-bottom: 20px;
}
.contactsInfo {
    /* flex: 0 40%;     */
}
.contactsInfo iframe {
    width: calc(21vw + 252.48px); /*521-328*/
    height: calc(12.3vw + 146.78px); /*304-191*/
    border-radius: 24px;
}


/*-----footer-----*/
.footer {
    background-color: #000908;    
    padding: 50px calc(9.1vw - 16.87px) 0; /*100-16*/
    color: #FFFFFFCC; 
    display: flex;
    flex-direction: column;    
}
.footer_top{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "left center right";
}
.footerInfo p {    
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;    
}
.footerInfo span {   
    font-size: 14px;
    font-weight: 600;
    display: block;
    margin-bottom: 17px;   
}
.spacer {    
    margin-top: calc(1.8vw - 6.65px); /*17-0*/
}
.footer__inner{
    display: flex;     
    gap: calc(3vw + 3.04px); /*42-14*/    
    width: calc(14.9vw + 274.39px); /*465-328*/
    justify-content: center;
}
.logo {
    margin-bottom: 20px;
    width: 117px;
}
.logo2 {
    width: 117px;        
    display: none;    
}
.footerInfo2 {
    display: flex;
    flex-direction: column;    
    font-size: 14px;
    font-weight: 400;    
}
.footerInfo__inner1 {
    display: flex;
    gap: 10px;
    padding-bottom: 16px;
}
.footerInfo__inner2 {    
    display: flex;
    gap: 10px;
}
.footerInfo__inner3 {    
    margin-top: calc(0.1vw + 15.61px); /*17-16*/
    display: flex;
    gap: 24px;
}
.footerInfo__inner4 >div {    
    margin-top: calc(33.91px - 1.1vw); /*20-30*/
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: 600;    
    gap: 9px calc(73.87px - 4.1vw); /*21-59*/    
}

.footerEnd {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-areas: "left center right extra";
    justify-content: space-between;    
    gap: 10px calc(8.7vw - 31.3px); /*80-0*/
    padding: 22px 0;
    margin-top: 17px;
    font-size: 12px;
    font-weight: 400;
    border-top: 1px solid #FFFFFF33;    
}


/*-----wrapper-----*/
.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 10;
}
.popUp {
    background-color: #00100F;    
    width: calc(31vw + 216.48px); /*613-328*/
    height: 85vh;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;    
    padding: calc(2.2vw + 32.17px) calc(4.3vw + 4.35px); /*60-40  60-20*/
}
.form {
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form p {
    font-size: 16px;
    margin: 20px calc(3.3vw - 11.74px) 30px; /*30-0*/
}
.formInput {
    display: block;
    width: 100%;
    border-radius: 12px;
    margin-bottom: 20px;
    border: none;
    background: transparent;
    padding: 20px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    background: #FFFFFF33;
    color: white;
}
textarea {
    display: block;
    width: 100%;
    height: 130px;
    border-radius: 12px;
    margin-bottom: 30px;
    border: none;
    background: transparent;
    padding: 20px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    background: #FFFFFF33;
    resize: none;
    color: white;
}
label {    
    display: flex;
    align-items: center;
    text-align: left;
    gap: 6px;
    cursor: pointer;
    font-size: 12px;
    color: #FFFFFF80;
}
.form button {
    margin-top: 30px;
    padding: 16px 30px;
}


.thankYouPage {
    background-color: #00100F;
    width: calc(41.5vw + 178.52px); /*710-328*/
    height: 40vh;
    border-radius: 24px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}
.thankYouPage h2 {
    margin-bottom: calc(22.35px - 0.7vw); /*14-20*/
    text-align: center;
}
.thankYouPage p {    
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: center;
}
.thankYouPage button {
    padding: 16px 20px;
}


@media (max-width: 805px) {
    .mainScreen__btn .btn__grey{
        width: 328px;
    }
    .mainScreen__btn .btn__green{
        width: 328px;
    }
    .mainScreen__card {
        width: 328px;
        height: 129px;
    }
    .mainScreen {        
        background: url('../img/Img.png');
        background-size: 165%;
        background-repeat: no-repeat;
        background-position: top right;
    }    
    .news {
        display: none;
    }
    .form button {
        width: 100%;
    }
    label {
        align-items: flex-start;
    }

    .teamCardBox {
        display: none;
    }
    .teamCardBox2 {
        display: block;
    }

    .branchLogo {
        display: none;
    }
    .branchLogo2 {
        display: block;
    }
    .contacts__inner {
        /* flex-direction: column; */
    }
}




@media (max-width: 975px) {
    .footer_top{       
       gap: 30px 0;
       grid-template-columns: 1fr;
       grid-template-areas: "center" "left" "right";
       text-align: center;
       justify-items: center;
    }
    .footerInfo2 >div {
        justify-content: center;
    }
    .footerInfo__inner4 >div {
        justify-content: center;
    }
    .footerEnd {
        grid-template-columns: 1fr;
        grid-template-areas: "left" "extra" "center" "right";
    }    
    .logo{
       display: none;
    }
    .logo2{
       display: block;
       margin: 0 auto 30px;
    }
}


@media (max-width: 1000px) {
    .header__logo {
        margin: 0 auto;
    }    
    .header__burger-btn {
        display: block;
    }
    .header__navigation {
        display: flex;
        flex-direction: column;
        gap: 18px;
        position: absolute;
        left: -360px;
        top: 43px;
        background-color: #00100F; 
        width: 360px;        
        padding: 85px 0 30px 30px; 
        transition: transform .5s;
        z-index: 1;
    }
    .nav__link {
        display: block;
    }
    .header.open .header__navigation{
        transform: translateX(100%);
    }
    
}

@media (max-width: 1165px) {
    .contacts__inner {
        justify-content: center;
    }
}